.DS_Store
.next/
artifacts/
bundle/
downloads/
dist/
node_modules/
tools/
vendor/scummvm/
public/data/
public/doc/
public/games/
public/favicon.ico
public/focus-overlay.js
public/game.json
public/games.json
public/index.html
public/logo.svg
public/manifest.json
public/scummvm-192.png
public/scummvm-512.png
public/scummvm.html
public/scummvm.ini
public/scummvm.js
public/scummvm.wasm
public/scummvm_fs.js
public/source-info.json
public/source.html
public/.scummvm-bundle.stamp
